<a href="https://colab.research.google.com/github/pppbbb262626/bigdata/blob/main/%E3%80%8C0309_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數練習

In [13]:
a <- 5
b <- 3.8
c <- -1

In [14]:
str(a)
str(b)
str(c)

 num 5
 num 3.8
 num -1

In [15]:
is.numeric(a)

[1] TRUE

In [16]:
is.integer(a)

[1] FALSE

In [19]:
d <- "Hello"
e <- "Hi"

In [20]:
str(d)
str(e)

 chr "Hello"
 chr "Hi"

In [21]:
f <- c(5,4,3,2,1)
g <- c("蔡英文","賴清德","蘇貞昌")

In [24]:
f[4]

[1] 2

In [25]:
g[2]

[1] "賴清德"

In [26]:
g[c(1,2)]

[1] "蔡英文" "賴清德"

In [27]:
h <- c(1,2,3,4,5,6,7,8,9)
i <- c(2,3,4,5,6,7,8,9,10)

In [28]:
h * i

[1]  2  6 12 20 30 42 56 72 90

In [29]:
h^2

[1]  1  4  9 16 25 36 49 64 81

In [30]:
h^3

[1]   1   8  27  64 125 216 343 512 729

In [31]:
i > 3

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [32]:
gender <- c("男","女","男","男","女","中")

In [33]:
gender

[1] "男" "女" "男" "男" "女" "中"

In [36]:
gender <- factor(gender)
levels(gender)

[1] "中" "女" "男"

In [50]:
j <- matrix(c(1:6), nrow=3, ncol=2)
k <- matrix(c(7:12), nrow=2, ncol=3)

In [51]:
j
k

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

In [48]:
j[2,2]

[1] 5

In [49]:
j[,2]

[1] 4 5 6

In [52]:
j[2,]

[1] 2 5

In [54]:
install.packages("SportsAnalytics")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [55]:
library(SportsAnalytics)

In [59]:
NBA1516 <- fetch_NBAPlayerStatistics("15-16")

In [60]:
NBA1516

    League Name             Team Position GamesPlayed TotalMinutesPlayed
1   NBA    Quincy Acy       SAC  SF       59           877
2   NBA    Jordan Adams     MEM  SG        2            15
3   NBA    Steven Adams     OKL  C        80          2019
4   NBA    Arron Afflalo    NYK  SG       71          2359
5   NBA    Alexis Ajinca    NOR  C        59           863
6   NBA    Cole Aldrich     LAC  C        60           802
7   NBA    Lamarcu Aldridge SAN  PF       74          2260
8   NBA    Cliff Alexander  POR  PF        9            37
9   NBA    Lavoy Allen      IND  PF       79          1601
10  NBA    Tony Allen       MEM  SG       64          1622
11  NBA    Al-farouq Aminu  POR  SF       82          2342
12  NBA    Lou Amundson     NYK  PF       29           199
13  NBA    Chris Andersen   MEM  PF       27           404
14  NBA    Alan Anderson    WAS  SG       13           193
15  NBA    James Anderson   SAC  SG       51           721
16  NBA    Justin Anderson  DAL  SG       55           644
17  NBA    Kyle Anderson    SAN  SF       78          1247
18  NBA    Ryan Anderson    NOR  PF       66          2011
19  NBA    Gi Antetokounmpo MIL  SF       80          2825
20  NBA    Th Antetokounmpo NYK  SF        3             7
21  NBA    Carmelo Anthony  NYK  SF       72          2529
22  NBA    Joel Anthony     DET  C        19            95
23  NBA    Keith Appling    ORL  PG        5            27
24  NBA    Trevor Ariza     HOU  SF       81          2860
25  NBA    Ron Artest       LAL  SF       35           588
26  NBA    Darrell Arthur   DEN  PF       70          1517
27  NBA    Omer Asik        NOR  C        68          1181
28  NBA    D.j. Augustin    DEN  PG       62          1182
29  NBA    Jeff Ayres       LAC  PF       16            95
30  NBA    Luke Babbitt     NOR  SF       47           847
⋮   ⋮      ⋮                ⋮    ⋮        ⋮           ⋮
447 NBA    John Wall        WAS  PG       77          2783
448 NBA    T.j. Warren      PHO  SF       47          1065
449 NBA    C.j. Watson      ORL  PG       33           655
450 NBA    Briante Weber    MIA  PG        7           170
451 NBA    Sonny Weems      PHI  SG       43           501
452 NBA    David West       SAN  PF       78          1408
453 NBA    Russel Westbrook OKL  PG       80          2749
454 NBA    Hassan Whiteside MIA  C        73          2122
455 NBA    Shay Whittington IND  PF        7            41
456 NBA    Andrew Wiggins   MIN  SF       81          2844
457 NBA    C.j. Wilcox      LAC  SG       23           168
458 NBA    Alan Williams    PHO  C        10            67
459 NBA    Deron Williams   DAL  PG       65          2107
460 NBA    Derrick Williams NYK  PF       80          1442
461 NBA    Elliot Williams  MEM  SG        5            46
462 NBA    Louis Williams   LAL  SG       67          1911
463 NBA    Marvin Williams  CHA  PF       81          2339
464 NBA    Mo Williams      CLE  PG       41           748
465 NBA    Justise Winslow  MIA  SF       78          2237
466 NBA    Jeff Withey      UTA  C        51           653
467 NBA    Christian Wood   PHI  PF       17           146
468 NBA    Brandan Wright   MEM  PF       12           213
469 NBA    Delon Wright     TOR  PG       27           231
470 NBA    Tony Wroten      PHI  SG        8           145
471 NBA    James Young      BOS  SG       29           200
472 NBA    Joseph Young     IND  PG       41           384
473 NBA    Nick Young       LAL  SF       54          1036
474 NBA    Thaddeus Young   BRO  SF       73          2413
475 NBA    Cody Zeller      CHA  PF       73          1773
476 NBA    Tyler Zeller     BOS  C        60           714
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1   119             214                 19         49             ⋯  29
2     2               6                  0          1             ⋯   3
3   261             426                  0          0             ⋯  42
4   354             799                 91        238             ⋯  25
5   150             314                  0          1             ⋯  19
6   134             225                  0          0             ⋯  47
7   536            1045                  0         16             ⋯  38
8     5              10                  0          0             ⋯   1
9   191             370                  0          0             ⋯  26
10  215             469                 15         42             ⋯ 109
11  299             719                126        349             ⋯  72
12   19              52                  0          0             ⋯   6
13   38              72                  4         14             ⋯  15
14   21              59                 12         37             ⋯   4
15   67             178                 23         86             ⋯  21
16   71             176                 22         83             ⋯  19
17  138             296                 12         37             ⋯  60
18  397             928                131        357             ⋯  38
19  513            1012                 28        110             ⋯  94
20    3               4                  0          1             ⋯   0
21  567            1307                105        310             ⋯  62
22    6              10                  0          0             ⋯   2
23    2               8                  0          3             ⋯   1
24  357             858                185        497             ⋯ 161
25   55             177                 26         84             ⋯  22
26  221             489                 45        117             ⋯  53
27  104             196                  0          0             ⋯  21
28  148             350                 68        169             ⋯  38
29   10              21                  0          1             ⋯   0
30  122             289                 44        109             ⋯  11
⋮   ⋮              ⋮                   ⋮          ⋮               ⋱ ⋮
447 572            1349                115        327             ⋯ 145
448 221             441                 28         70             ⋯  37
449  47             137                 14         48             ⋯  19
450  14              39                  0          5             ⋯   9
451  42             111                 15         42             ⋯  10
452 244             448                  3          7             ⋯  44
453 656            1444                101        341             ⋯ 163
454 412             681                  0          0             ⋯  44
455   5              11                  0          2             ⋯   1
456 594            1294                 57        190             ⋯  78
457  26              66                  9         23             ⋯  10
458  10              24                  0          0             ⋯   4
459 321             775                 97        282             ⋯  61
460 254             565                 44        150             ⋯  30
461   2              10                  1          4             ⋯   1
462 283             695                110        321             ⋯  62
463 338             747                152        379             ⋯  58
464 132             302                 36        102             ⋯  14
465 196             463                 32        116             ⋯  68
466  87             161                  0          2             ⋯  21
467  22              53                  4         11             ⋯   5
468  35              52                  0          0             ⋯   5
469  36              81                  5         13             ⋯   8
470  22              65                  3         17             ⋯   3
471  11              36                  6         26             ⋯   6
472  62             170                 10         46             ⋯  15
473 126             372                 77        237             ⋯  23
474 495             963                  7         30             ⋯ 112
475 231             437                  1         10             ⋯  57
476 138             290                  0          0             ⋯  10
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1    27        24    103           0                  307        3
2     2         0      2           0                    7        0
3    84        89    223           2                  636        2
4    82        10    142           1                  909        1
5    54        36    134           0                  352        2
6    64        68    139           1                  328        0
7    99        81    151           0                 1331        0
8     1         2      1           0                   10        0
9    69        42    147           1                  428        0
10   78        18    175           1                  535        1
11  120        53    171           0                  839        3
12   15         7     44           1                   52        1
13    9        13     29           0                  105        0
14    2         1     25           0                   65        0
15   42        14     54           0                  179        0
16   24        25     45           0                  208        0
17   59        29     97           0                  350        0
18   90        25    109           0                 1124        3
19  208       113    258           7                 1350        1
20    0         0      2           0                    6        0
21  176        38    180           1                 1573        4
22    2        12     15           0                   18        0
23    3         0      5           0                    6        0
24  113        26    177           0                 1025        2
25   15        11     67           1                  176        1
26   66        48    185           1                  527        2
27   60        23    124           0                  269        0
28   84         4     85           0                  467        0
29    5         0     16           0                   24        0
30   23         7     90           0                  327        1
⋮   ⋮         ⋮      ⋮             ⋮                 ⋮           ⋮
447 318        59    159           0                 1531        7
448  32        16     94           0                  515        0
449  25         5     49           0                  142        0
450   9         3     12           0                   31        0
451  41         1     47           0                  107        0
452  67        55    142           1                  554        2
453 342        20    200           2                 1878        6
454 137       269    201           2                 1038        2
455   5         1      7           0                   11        0
456 182        46    165           1                 1675        1
457   2         2     15           0                   70        0
458   6         5     15           0                   29        0
459 150        14    155           0                  918        0
460  61         9     69           0                  746        0
461   1         0      2           0                    8        0
462 107        19    107           1                 1028        1
463  62        77    133           1                  948        0
464  57         5     60           0                  338        1
465  95        26    184           0                  504        0
466  28        53     74           1                  217        0
467   2         7     11           0                   61        0
468  10        15     21           0                   83        0
469  16         3      7           0                  103        0
470  29         0     11           0                   67        0
471   5         1     17           0                   29        0
472  33         0     30           0                  154        0
473  30         7     50           0                  392        1
474 136        37    182           3                 1102        1
475  68        63    204           4                  638        0
476  46        22     97           1                  364        0
    Ejections FlagrantFouls GamesStarted
1   0         0             29
2   0         0              0
3   0         0             80
4   0         0             57
5   0         0             17
6   0         0              5
7   0         0             74
8   0         0              0
9   0         0             28
10  0         0             56
11  0         0             82
12  0         0              0
13  0         0             15
14  0         0              0
15  0         0             15
16  0         0              9
17  0         0             11
18  0         0              7
19  0         0             79
20  0         0              0
21  0         0             72
22  0         0              0
23  0         0              0
24  0         0             81
25  0         0              5
26  0         0             16
27  0         0             64
28  0         0              0
29  0         0              0
30  0         0             13
⋮   ⋮         ⋮             ⋮
447 0         0             77
448 0         0              4
449 0         0              2
450 0         0              4
451 0         0              0
452 0         0             19
453 0         0             80
454 0         0             43
455 0         0              0
456 0         0             81
457 0         0              0
458 0         0              0
459 0         0             63
460 0         0              9
461 0         0              0
462 0         0             35
463 0         0             81
464 0         0             14
465 0         0              8
466 0         0             10
467 0         0              0
468 0         0              2
469 0         0              1
470 0         0              3
471 0         0              0
472 0         0              0
473 0         0              2
474 0         0             73
475 0         0             60
476 0         0              3

In [61]:
head(NBA1516)

  League Name          Team Position GamesPlayed TotalMinutesPlayed
1 NBA    Quincy Acy    SAC  SF       59           877
2 NBA    Jordan Adams  MEM  SG        2            15
3 NBA    Steven Adams  OKL  C        80          2019
4 NBA    Arron Afflalo NYK  SG       71          2359
5 NBA    Alexis Ajinca NOR  C        59           863
6 NBA    Cole Aldrich  LAC  C        60           802
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1 119            214                 19          49             ⋯ 29
2   2              6                  0           1             ⋯  3
3 261            426                  0           0             ⋯ 42
4 354            799                 91         238             ⋯ 25
5 150            314                  0           1             ⋯ 19
6 134            225                  0           0             ⋯ 47
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1 27        24     103           0                 307         3
2  2         0       2           0                   7         0
3 84        89     223           2                 636         2
4 82        10     142           1                 909         1
5 54        36     134           0                 352         2
6 64        68     139           1                 328         0
  Ejections FlagrantFouls GamesStarted
1 0         0             29
2 0         0              0
3 0         0             80
4 0         0             57
5 0         0             17
6 0         0              5

In [62]:
NBA1516[grepl("Curry",NBA1516$Name),]

    League Name          Team Position GamesPlayed TotalMinutesPlayed
105 NBA    Seth Curry    SAC  SG       44           694
106 NBA    Stephen Curry GSW  PG       79          2705
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
105 102             224                 50        111             ⋯  22
106 805            1597                402        887             ⋯ 169
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
105  36        3      41           0                  299        0
106 261       16     161           0                 2375        1
    Ejections FlagrantFouls GamesStarted
105 0         0              9
106 0         0             79